name: Frontend Quality

on:
  push:
    paths:
      - 'web/**'
      - '.github/workflows/quality-frontend.yml'
  workflow_dispatch:

jobs:
  frontend:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web/
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: web/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run prettier
        run: npm run prettier

      - name: Run ESLint
        run: npm run lint

      - name: Check dead code
        run: npm run knip

      - name: Check i18n translations
        run: npm run i18n:status

      - name: Build app
        run: npm run build